<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mbs.m1.dao.UAssUserRelMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.demo.mbs.m1.model.UAssUserRel">
        <id column="id" property="id" />
        <result column="create_time" property="createTime" />
        <result column="ass_token" property="assToken" />
        <result column="user_id" property="userId" />
        <result column="tenant_id" property="tenantId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        create_time,
        id, ass_token, user_id, tenant_id
    </sql>

</mapper>
