<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mbs.cus.dao.UserDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.demo.mbs.m1.model.UDept">
        <id column="id" property="id" />
        <result column="create_time" property="createTime" />
        <result column="pid" property="pid" />
        <result column="name" property="name" />
        <result column="tenant_id" property="tenantId" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <resultMap id="findUserOther" type="com.example.demo.mbs.m1.model.UUser">
        <id column="id1" property="id"/>
        <result column="username1" property="username"/>
        <result column="url1" property="url"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        create_time,
        id, username, password,update_time
    </sql>

    <select id="sqlCusShow" resultType="com.example.demo.mbs.m1.model.UUser">
        select
        <include refid="Base_Column_List"/>
        from  u_user
    </select>

    <select id="duplicateData" resultType="com.example.demo.mbs.cus.dto.DuplicateDataRsp">
        SELECT urr.*,rtr.id as id1,rtr.role_id as roleId1,rtr.tenant_id as tenantId,rtr.create_time as createTime1
        FROM u_user_role_rel urr
        JOIN u_role_tenant_rel rtr ON rtr.role_id=urr.role_id
    </select>

    <select id="paramLearn" resultType="com.example.demo.mbs.m1.model.UUser">
        SELECT *
        FROM u_user where id=#{id} and username=#{name}
    </select>

    <select id="charDiff" resultType="com.example.demo.mbs.m1.model.UUser">
        SELECT *
        FROM ${tableName} where username=#{username}
    </select>

    <select id="resultMapLearn" resultMap="findUserOther">
        SELECT id as id1,username as username1,url as url1
        FROM u_user
    </select>

</mapper>
